body {
    background-color: #000000;
    color: #FFFFFF;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-family: 'Avenir Next', sans-serif;
}

footer {
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 30px;
}